<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-4">
                <input id="emailAddress" name="emailAddress" type="text" class="form-control" ng-model="emailAddress.emailAddress" placeholder="Email Address" required />
            </div>
            <div class="col-sm-4">
                <select id="emailAddressType" name="emailAddressType" ng-model="emailAddress.emailAddressType" class="form-control" required>
                    <option value="">Email Address Type</option>
                    <option value="Home">Home</option>
                    <option value="Work">Work</option>
                </select>
            </div>
            <div class="col-sm-3" style="margin-top: 6px;">
                <button type="button" ng-click="removeEmailAddress(emailAddress)" class="btn btn-danger btn-sm" aria-label="Left Align" style="margin-bottom: 5px">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </button>
            </div>
        </div>
    </div>
</div>