<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-4">
                <input id="firstName" name="firstName" type="text" class="form-control" ng-model="emergencyContact.firstName" placeholder="First Name" required />
            </div>
            <div class="col-sm-4">
                <input id="lastName" name="lastName" type="text" class="form-control" ng-model="emergencyContact.lastName" placeholder="Last Name" required />
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3">
                <input id="homePhone" type="text" class="form-control" ng-model="emergencyContact.homePhone" placeholder="Home Phone" />
            </div>
            <div class="col-sm-3">
                <input id="cellPhone" type="text" class="form-control" ng-model="emergencyContact.cellPhone" placeholder="Cell Phone" />
            </div>
            <div class="col-sm-3">
                <input id="businessPhone" type="text" class="form-control" ng-model="emergencyContact.businessPhone" placeholder="Business Phone" />
            </div>
            <div class="col-sm-3">
                <input id="businessPhoneExt" type="text" class="form-control" ng-model="emergencyContact.businessPhoneExt" placeholder="Business Phone Ext" />
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3">
                <input id="email" type="text" class="form-control" ng-model="emergencyContact.email" placeholder="Email" />
            </div>
            <div class="col-sm-3" style="margin-top: 6px;">
                <button type="button" class="btn btn-danger btn-sm" ng-click="removeEmergencyContact(emergencyContact)">Remove</button>
            </div>
        </div>
    </div>
</div>