<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-12">
                {{emergencyContact.firstName}} {{emergencyContact.lastName}}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div ng-hide="!emergencyContact.homePhone">Home Phone: {{emergencyContact.homePhone}}</div>
                <div ng-hide="!emergencyContact.cellPhone">Cell Phone: {{emergencyContact.cellPhone}}</div>
                <div ng-hide="!emergencyContact.businessPhone">Business Phone: {{emergencyContact.businessPhone}} {{emergencyContact.businessPhoneExt}}</div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div ng-hide="!emergencyContact.email">
                    Email: <a href="mailto:{{emergencyContact.email}}">{{emergencyContact.email}}</a>
                </div>
            </div>
        </div>
    </div>
</div>