{% extends './layout.html' %}
{% block styles %}
<style>
    .table {
        margin-bottom: 5px; /*override bootstrap*/
    }
</style>
{% endblock %}
{% block content %}
<div ng-controller="DataController">
    <form name="responseForm" ng-submit="save(person)" novalidate ng-show="submitted == false">
        <fieldset>
            <legend>Personal Information</legend>
            <div class="row">
                <div class="col-sm-3">
                    <input id="firstName" name="firstName" type="text" class="form-control" ng-model="person.firstName" placeholder="First Name" required />
                </div>
                <div class="col-sm-3">
                    <input id="middleName" name="middleName" type="text" class="form-control" ng-model="person.middleName" placeholder="Middle Name" />
                </div>
                <div class="col-sm-3">
                    <input id="lastName" name="lastName" type="text" class="form-control" ng-model="person.lastName" placeholder="Last Name" required />
                </div>
                <div class="col-sm-2">
                    <input id="suffix" name="suffix" type="text" class="form-control" ng-model="person.suffix" placeholder="Suffix" />
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <input id="dob" name="dob" type="text" class="form-control" ng-model="person.dob" placeholder="Date of Birth" />
                </div>
                <div class="col-sm-3">
                    <input id="ssn" name="ssn" type="text" class="form-control" ng-model="person.ssn" placeholder="SSN" />
                </div>
                <div class="col-sm-3">
                    <select id="sex" name="sex" ng-model="person.sex" ng-options="sex for sex in sexes" class="form-control">
                        <option value="">Sex...</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <input id="initials" name="initials" type="text" class="form-control" ng-model="person.initials" placeholder="Initials" />
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <input id="driversLicenseNumber" name="driversLicenseNumber" type="text" class="form-control" ng-model="person.driversLicenseNumber" placeholder="Drivers License Number" />
                </div>
                <div class="col-sm-4">
                    <select id="driversLicenseState" name="driversLicenseState" ng-model="person.driversLicenseState" ng-options="state.name for state in stateList" class="form-control">
                        <option value="">Drivers License State...</option>
                    </select>
                </div>
            </div>
        </fieldset>

        <fieldset>
            <legend>Addresses
                <button type="button" ng-click="addAddress()" class="btn btn-success btn-sm" aria-label="Left Align" style="margin-bottom: 5px">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                </button>
            </legend>
            <table class="table">
                <tr ng-repeat="address in person.addresses" ng-include="addressTemplate.url" autoscroll></tr>
            </table>
        </fieldset>

        <fieldset>
            <legend>Phone Numbers 
                <button type="button" ng-click="addPhoneNumber()" class="btn btn-success btn-sm" aria-label="Left Align" style="margin-bottom: 5px">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                </button>
            </legend>
            <table class="table">
                <tr ng-repeat="phone in person.phoneNumbers" ng-include="phoneTemplate.url" autoscroll></tr>
            </table>
        </fieldset>

        <fieldset>
            <legend>Email Addresses 
                <button type="button" ng-click="addEmailAddress()" class="btn btn-success btn-sm" aria-label="Left Align" style="margin-bottom: 5px">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                </button>            
            </legend>
            <table class="table">
                <tr ng-repeat="emailAddress in person.emailAddresses" ng-include="emailAddressTemplate.url" autoscroll></tr>
            </table>
        </fieldset>

        <fieldset>
            <legend>Medical</legend>
            <div class="row">
                <div class="col-sm-6">
                    <input id="allergies" name="allergies" type="text" class="form-control" ng-model="person.allergies" placeholder="Allergies or other Medical Concerns" />
                </div>
            </div>
        </fieldset>

        <fieldset>
            <legend>Emergency Contacts 
                <button type="button" ng-click="addEmergencyContact()" class="btn btn-success btn-sm" aria-label="Left Align" style="margin-bottom: 5px">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                </button>
            </legend>
            <table class="table">
                <tr ng-repeat="emergencyContact in person.emergencyContacts" ng-include="emergencyContactTemplate.url" autoscroll></tr>
            </table>
        </fieldset>

        <div class="row" style="margin-bottom: 40px;">
            <div class="col-sm-12" style="margin-top: 15px;">
                <button type="submit" class="btn btn-primary btn-block" ng-disabled="responseForm.$invalid">Save</button>
            </div>
        </div>
    </form>
    <div ng-show="submitted == true" class="jumbotron">
        <h3>Thank you for submitting your information.</h3>
    </div>
</div>
{% endblock %}