<!DOCTYPE html>
<html ng-app="NoInkApp" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Employment Application</title>
    <link rel="stylesheet" href="/scripts/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/site.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    {% block css %}{% endblock %}
    <script src="/scripts/jquery/dist/jquery.min.js" type="text/javascript"></script>
    <script src="/scripts/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/scripts/angular/angular.min.js" type="text/javascript"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-placeholder/2.0.8/jquery.placeholder.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="/public/js/app.js"></script>
    <script type="text/javascript" src="/public/js/filters.js"></script>
    <script type="text/javascript" src="/public/js/dataController.js"></script>
    <script type="text/javascript" src="/public/js/requestSubmissionController.js"></script>
    <script type="text/javascript" src="/public/js/submissionController.js"></script>
    {% block scripts %}{% endblock %}
</head>
<body>
    {% block content %}{% endblock %}
</body>
</html>