<!DOCTYPE html>
<html ng-app="NoInkApp" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Employment Application</title>
    <link rel="stylesheet" href="/scripts/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/site.css">
    <script src="/scripts/jquery/dist/jquery.min.js" type="text/javascript"></script>
    <script src="/scripts/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/scripts/angular/angular.min.js" type="text/javascript"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-placeholder/2.0.8/jquery.placeholder.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="/public/js/app.js"></script>
</head>
<body>
    {{{ content }}}
</body>
</html>