<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-3">
                <input id="phoneNumber" name="phoneNumber" type="text" class="form-control" ng-model="phone.phoneNumber" placeholder="Phone Number" required />
            </div>
            <div class="col-sm-2">
                <input id="phoneNumberExt" name="phoneNumberExt" type="text" class="form-control" ng-model="phone.phoneNumberExt" placeholder="Extension" />
            </div>
            <div class="col-sm-3">
                <select id="phoneType" name="phoneType" ng-model="phone.phoneType" class="form-control" required>
                    <option value="">Phone Type</option>
                    <option value="Home">Home</option>
                    <option value="Mobile">Mobile</option>
                    <option value="Work">Work</option>
                </select>
            </div>
            <div class="col-sm-3" style="margin-top: 6px;">
                <button type="button" ng-click="removePhoneNumber(phone)" class="btn btn-danger btn-sm" aria-label="Left Align" style="margin-bottom: 5px">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </button>
            </div>
        </div>
    </div>
</div>