{% extends './layout.html' %}
{% block content %}
<style>
    .table {
        margin-bottom: 5px; /*override bootstrap*/
    }
</style>

<div ng-controller="ResponseController">
    <div>
        <button ng-click="getResponses()" class="btn btn-primary">Get Responses</button>
    </div>
    <table class="table table-striped table-condensed" ng-hide="detailView == true">
        <thead>
            <tr>
                <th></th>
                <th>Name </th>
                <th>Phone</th>
                <th>Email </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="r in responses">
                <td>
                    <button type="button" class="btn btn-default" aria-label="Left Align" ng-click="getResponse(r)">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    </button>
                </td>
                <td>
                    {{r.firstName }} {{r.middleName }} {{r.lastName }} {{r.suffix }}
                </td>
                <td>
                    <div ng-repeat="phoneNumber in r.phoneNumbers">
                        {{phoneNumber.phoneType}}: {{phoneNumber.phoneNumber | tel}}                        
                    </div>
                </td>
                <td>
                    <div ng-repeat="email in r.emailAddresses">
                        {{email.emailAddressType}}: {{email.emailAddress}}
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    
    <div class="ng-view"></div>

    <div ng-show="detailView == true">
        <fieldset>
            <legend>Personal Information</legend>

            <div class="row">
                <div class="col-sm-12">
                    {{submission.firstName}} {{submission.middleName}} {{submission.lastName}}<span ng-hide="!submission.suffix">, {{submission.suffix}}</span>
                </div>
                <!--<div class="form-horizontal">
                    <div class="col-sm-3">
                        <input id="firstName" type="text" class="form-control" ng-model="submission.firstName" placeholder="First Name" />
                    </div>
                    <div class="col-sm-3">
                        <input id="middleName" type="text" class="form-control" ng-model="submission.middleName" placeholder="Middle Name" />
                    </div>
                    <div class="col-sm-3">
                        <input id="lastName" type="text" class="form-control" ng-model="submission.lastName" placeholder="Last Name" />
                    </div>
                    <div class="col-sm-3">
                        <input id="suffix" type="text" class="form-control" ng-model="submission.suffix" placeholder="Suffix" />
                    </div>
                </div>-->
            </div>

            <div class="row">
                <div class="col-sm-1">
                    Birthdate:
                </div>
                <div class="col-sm-2">
                    {{submission.dob}}
                </div>
                <div class="col-sm-1 col-sm-push-1">
                    SSN:
                </div>
                <div class="col-sm-2 col-sm-push-1">
                    {{submission.ssn}}
                </div>
                <div class="col-sm-1 col-sm-push-1">
                    Sex:
                </div>
                <div class="col-sm-2 col-sm-push-1">
                    {{submission.sex}}
                </div>
                <!--<div class="form-horizontal">
                        <div class="col-sm-3">
                            <input id="dob" type="text" class="form-control" ng-model="submission.dob" placeholder="Date of Birth" />
                        </div>
                        <div class="col-sm-3">
                            <input id="ssn" type="text" class="form-control" ng-model="submission.ssn" placeholder="SSN" />


                        </div>
                        <div class="col-sm-3">
                            <select id="sex" ng-model="submission.sex" ng-options="sex for sex in sexes" class="form-control">
                                <option value="">Sex...</option>
                            </select>
                        </div>
                    </div>-->
            </div>

            <div class="row">
                <div class="col-sm-1">
                    Initials:
                </div>
                <div class="col-sm-2">
                    {{submission.initials}}
                </div>
                <div class="col-sm-1 col-sm-push-1">
                    DL#: 
                </div>
                <div class="col-sm-2 col-sm-push-1">
                    {{submission.driversLicenseNumber}}
                </div>
                <div class="col-sm-1 col-sm-push-1">
                    DL State:
                </div>
                <div class="col-sm-2 col-sm-push-1">
                    {{submission.driversLicenseState.name}}
                </div>
                <!--<div class="form-horizontal">
                    <div class="col-sm-3">
                        <input id="initials" type="text" class="form-control" ng-model="submission.initials" placeholder="Initials" />
                    </div>
                </div>-->
            </div>

            <!--<div class="row">
                <div class="form-horizontal">
                    <div class="col-sm-4">
                        <input id="driversLicenseNumber" type="text" class="form-control" ng-model="submission.driversLicenseNumber" placeholder="Drivers License Number" />
                    </div>
                    <div class="col-sm-4">
                        <input id="driversLicenseState" type="text" class="form-control" ng-model="submission.driversLicenseState" placeholder="Drivers License State" />
                    </div>
                </div>
            </div>-->
        </fieldset>

        <fieldset>
            <legend>Addresses</legend>
            <table class="table">
                <tr ng-repeat="address in submission.addresses" ng-include="addressTemplate.url" autoscroll></tr>
            </table>

            <!--<div class="row">
                <div class="col-sm-4">
                    <input id="address1" type="text" class="form-control" ng-model="submission.address1" placeholder="Address 1" />
                    <input id="address2" type="text" class="form-control" ng-model="submission.address2" placeholder="Address 2" />
                </div>
            </div>

            <div class="row">
                <div class="form-horizontal">
                    <div class="col-sm-3">
                        <input id="city" type="text" class="form-control" ng-model="submission.city" placeholder="City" />
                    </div>
                    <div class="col-sm-2">
                        <select id="state" ng-model="submission.state" ng-options="state for state in states" class="form-control">
                            <option value="">State...</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <input id="zip" type="text" class="form-control" ng-model="submission.zip" placeholder="Zip" />
                    </div>
                </div>
            </div>-->
        </fieldset>

        <fieldset>
            <legend>Phone Numbers</legend>
            <table class="table">
                <tr ng-repeat="phone in submission.phoneNumbers" ng-include="phoneTemplate.url" autoscroll></tr>
            </table>

            <!--<div class="row">
                <div class="form-horizontal">
                    <div class="col-sm-3">
                        <input id="BusinessPhone" type="text" class="form-control" ng-model="submission.BusinessPhone" placeholder="Business Phone" />
                    </div>
                    <div class="col-sm-3">
                        <input id="cellPhone" type="text" class="form-control" ng-model="submission.cellPhone" placeholder="Cell Phone" />
                    </div>
                    <div class="col-sm-3">
                        <input id="businessPhone" type="text" class="form-control" ng-model="submission.businessPhone" placeholder="Business Phone" />
                    </div>
                    <div class="col-sm-3">
                        <input id="businessPhoneExt" type="text" class="form-control" ng-model="submission.businessPhoneExt" placeholder="Business Ext" />
                    </div>
                </div>
            </div>-->
        </fieldset>

        <fieldset>
            <legend>Email Addresses</legend>
            <table class="table">
                <tr ng-repeat="emailAddress in submission.emailAddresses" ng-include="emailAddressTemplate.url" autoscroll></tr>
            </table>


            <!--<div class="row">
                <div class="form-horizontal">
                    <div class="col-sm-4">
                        <input id="personalEmail1" type="text" class="form-control" ng-model="submission.personalEmail1" placeholder="Personal Email 1" />
                    </div>
                    <div class="col-sm-4">
                        <input id="personalEmail2" type="text" class="form-control" ng-model="submission.personalEmail2" placeholder="Personal Email 2" />
                    </div>
                    <div class="col-sm-4">
                        <input id="businessEmail" type="text" class="form-control" ng-model="submission.businessEmail" placeholder="Business Email" />
                    </div>
                </div>
            </div>-->
        </fieldset>

        <fieldset>
            <legend>Emergency Contacts</legend>
            <table class="table">
                <tr ng-repeat="emergencyContact in submission.emergencyContacts" ng-include="emergencyContactTemplate.url" autoscroll></tr>
            </table>
        </fieldset>

        <fieldset>
            <legend>Medical</legend>
            <div class="row">
                <div class="col-sm-1">
                    Allergies:
                </div>
                <div class="col-sm-10">
                    {{submission.allergies}}
                </div>
                <!--<div class="form-horizontal">
                    <div class="col-sm-6">
                        <input id="allergies" type="text" class="form-control" ng-model="submission.allergies" placeholder="Allergies or other Medical Concerns" />
                    </div>
                </div>-->
            </div>
        </fieldset>
    </div>
</div>
{% endblock %}