{% extends './layout.html' %}
{% block content %}
<style>
    .table {
        margin-bottom: 5px; /*override bootstrap*/
    }
</style>

<div ng-controller="ResponseController">
    <div ng-show="detailView == false">

        <div style="margin-top: 10px; margin-bottom: 10px;">
            <button ng-click="getResponses()" class="btn btn-primary">Refresh</button>
        </div>
        <table class="table table-striped table-condensed" ng-hide="detailView == true">
            <thead>
                <tr>
                    <th></th>
                    <th>Name </th>
                    <th>Phone</th>
                    <th>Email </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="r in responses">
                    <td>
                        <button type="button" class="btn btn-default" aria-label="Left Align" ng-click="getResponse(r)">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        </button>
                    </td>
                    <td>
                        {{r.firstName }} {{r.middleName }} {{r.lastName }} {{r.suffix }}
                    </td>
                    <td>
                        <div ng-repeat="phoneNumber in r.phoneNumbers">
                            {{phoneNumber.phoneType}}: {{phoneNumber.phoneNumber | tel}}
                        </div>
                    </td>
                    <td>
                        <div ng-repeat="email in r.emailAddresses">
                            {{email.emailAddressType}}: {{email.emailAddress}}
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div ng-show="detailView == true" style="margin-top: 10px;">
        <fieldset>
            <legend>Personal Information</legend>
            <div class="row">
                <div class="col-sm-12">
                    {{submission.firstName}} {{submission.middleName}} {{submission.lastName}}<span ng-hide="!submission.suffix">, {{submission.suffix}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-1">Birthdate:</div>
                <div class="col-sm-2">{{submission.dob}}</div>
                <div class="col-sm-1 col-sm-push-1">SSN:</div>
                <div class="col-sm-2 col-sm-push-1">{{submission.ssn}}</div>
                <div class="col-sm-1 col-sm-push-1">Sex:</div>
                <div class="col-sm-2 col-sm-push-1">{{submission.sex}}</div>
            </div>
            <div class="row">
                <div class="col-sm-1">Initials:</div>
                <div class="col-sm-2">{{submission.initials}}</div>
                <div class="col-sm-1 col-sm-push-1">DL#:</div>
                <div class="col-sm-2 col-sm-push-1">{{submission.driversLicenseNumber}}</div>
                <div class="col-sm-1 col-sm-push-1">DL State:</div>
                <div class="col-sm-2 col-sm-push-1">{{submission.driversLicenseState.name}}</div>
            </div>
        </fieldset>

        <fieldset>
            <legend>Addresses</legend>
            <table class="table">
                <tr ng-repeat="address in submission.addresses" ng-include="addressTemplate.url" autoscroll></tr>
            </table>
        </fieldset>

        <fieldset>
            <legend>Phone Numbers</legend>
            <table class="table">
                <tr ng-repeat="phone in submission.phoneNumbers" ng-include="phoneTemplate.url" autoscroll></tr>
            </table>
        </fieldset>

        <fieldset>
            <legend>Email Addresses</legend>
            <table class="table">
                <tr ng-repeat="emailAddress in submission.emailAddresses" ng-include="emailAddressTemplate.url" autoscroll></tr>
            </table>
        </fieldset>

        <fieldset>
            <legend>Emergency Contacts</legend>
            <table class="table">
                <tr ng-repeat="emergencyContact in submission.emergencyContacts" ng-include="emergencyContactTemplate.url" autoscroll></tr>
            </table>
        </fieldset>

        <fieldset>
            <legend>Medical</legend>
            <div class="row">
                <div class="col-sm-1">Allergies:</div>
                <div class="col-sm-10">{{submission.allergies}}</div>
            </div>
        </fieldset>
        <div>
            <button ng-click="detailView = false" class="btn btn-primary">Back</button>
        </div>
    </div>
</div>
{% endblock %}