{% extends './layout.html' %}
{% block content %}
<div ng-controller="RequestController" class="row" style="margin-top: 10px;">
    <h3>Request Information</h3>
    <form name="sendRequestForm" role="form" ng-submit="sendRequest(req)" class="col-sm-4" novalidate>
        <div class="form-group">
            <label for="firstName" class="control-label">First Name</label>
            <input type="text" ng-model="req.firstName" id="firstName" name="firstName" class="form-control" placeholder="First Name" ng-required="true" />
        </div>
        <div class="form-group">
            <label for="lastName" class="control-label">Last Name</label>
            <input type="text" ng-model="req.lastName" id="lastName" name="lastName" class="form-control" placeholder="Last Name" ng-required="true" />
        </div>
        <div class="form-group">
            <label for="email" class="control-label">Email</label>
            <input type="email" ng-model="req.email" id="email" name="email" class="form-control" placeholder="Email" ng-required="true" />
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-primary btn-block" ng-disabled="sendRequestForm.$invalid" value="Request Information"/>
        </div>
        <div ng-show="sendError" class="has-error">
            Failed to send email.
        </div>
        <div ng-show="sendSuccess" class="has-success">
            Email sent!
        </div>
    </form>
</div>
{% endblock %}